.App {
  text-align: center;
  letter-spacing: 1px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Eget under */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
}

.editor {
  font-size: 28px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.loginTitle {
  font-family: 'Xanh Mono', monospace;
  font-size: 100px;
}

.trix-editor {
  text-align: justify;
  background-color: #F5F5F5;
  height: 20vh;
}

trix-toolbar {
    min-height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    background-color: #013E2C;
}

.button {
  margin: 10px;
  font-size: 20px;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 4px;
  border-width: 0px;
}

.trixButton {
  background-color: #013E2C;
  border: none;
  color: #D5D5D5;
  border-radius: 50px;
  font-size: 16px;
  letter-spacing:1px;
  border: 1px solid #018A61;
  
}

.trixButton:hover{
    background-color: #018A61;
}

#selectDoc {
  font-size: 16px;
  margin: 10px;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  letter-spacing:1px;
}

.loginButtonsDiv {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.passwordButton {
  background-color: #018A61;
  color: #F5F5F5;
  width: 150px;
}

.registerButton {
  width: 150px;
}

.loginDiv {
  background-image: url("../src/images/hand.jpg");
  background-size: cover;
  height: 100vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  border: 1px dotted #013E2C;
  box-shadow: 5px 10px #013E2C;
  padding: 50px;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 130px;
  border-radius: 4px;
}

.loginTitle {
  background-color: #013E2C;
  color: #F5F5F5;
  letter-spacing:5px;

  font-size: 80px;
  text-align: center;
  vertical-align: middle;
  line-height: 250px;
  margin-bottom: 50px;
}

.loginP {
  font-size: 34px;
  margin-top: 120px;
  color: #F5F5F5;
}

.loginbutton {
  background-color: #F5F5F5;
}

.registerButton {
  background-color: #F5F5F5;
}

.loginLabel {
  color: #F5F5F5;
}

.usersP {
  display: block;
  background-color: #F5F5F5;
}

.code { 
width: 100%;
display: flex;
position: relative;
}

#code {
  width: 100%;
}