.App {
  text-align: center;
  letter-spacing: 1px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Eget under */
/* %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
}

.editor {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.loginTitle {
  font-family: 'Xanh Mono', monospace;
  font-size: 100px;
}

/* .trix-wrapper { */
  /* background-color: lightgray; */
  /* display: flex;
  flex-direction: row;
  position: relative; */
  /* width: 100%; */
  /* height: 88vh; */
  /* margin: 200px; */
/* } */

.trix-editor {
  text-align: justify;
  background-color: #F5F5F5;
  height: 87vh;
  width: 85.8vw;
  padding: 50px;
  border: 70px solid lightgray;
  border-top: 25px solid lightgray;
  border-bottom: 30px solid lightgray;
}

trix-toolbar {
    min-height: 150px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    background-color: #013E2C;
}

trix-button-row {
  border: 1px solid #018A61;
  background-color: #018A61;
}

.button {
  margin: 10px;
  font-size: 16px;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 4px;
  border-width: 0px;
}

.trixButton {
  background-color: #013E2C;
  border: none;
  color: #D5D5D5;
  border-radius: 50px;
  font-size: 14px;
  letter-spacing:1px;
  border: 1px solid #018A61;
  
}

.trixButton:hover{
    background-color: #018A61;
}

#selectDoc {
  font-size: 16px;
  margin: 10px;
  padding: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 50px;
  letter-spacing:1px;
}

.loginButtonsDiv {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 10px;
}

.passwordButton {
  background-color: #018A61;
  color: #F5F5F5;
  width: 150px;
  padding: 10px;
  }

.registerButton {
  width: 150px;
}

.loginDiv {
  background-image: url("../src/images/hand.jpg");
  background-size: cover;
  height: 100vh;
}

.loginForm {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  border: 1px dotted #013E2C;
  box-shadow: 5px 10px #013E2C;
  padding: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 90px;
  border-radius: 4px;
}

.loginTitle {
  background-color: #013E2C;
  color: #F5F5F5;
  letter-spacing:5px;
  font-size: 70px;
  text-align: center;
  vertical-align: middle;
  line-height: 180px;
  padding-bottom: 40px;
}

.loginSubTitle {
  /* background-color: #013E2C; */
  /* color: #F5F5F5; */
  letter-spacing:5px;
  font-size: 24px;
  text-align: center;
  vertical-align:top;
  font-style: italic;
  line-height: 0px;
  margin-top: 0px;
  /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
  /* padding-bottom: 50px; */
}

.loginP {
  font-size: 26px;
  margin-top: 110px;
  color: #F5F5F5;
}

.loginbutton {
  background-color: #F5F5F5;
  padding: 10px;
}

.registerButton {
  background-color: #F5F5F5;
  padding: 10px;
}

.loginLabel {
  color: #F5F5F5;
}

.usersP {
  display: block;
  background-color: #F5F5F5;
}

.codeDiv {
  background-color: lightgray;
  display: flex;
  height: 88vh;
  padding: 20px;
  padding-top: 40px;
  padding-left: 70px;
  padding-right: 70px;
}

.code { 
width: 100%;
height: 30vh;
background-color: #1E1E1E; 
/* // 282c34 */
color: #F5F5F5;
font-size: 20px;
}

.code-editor { 
  width: 100%;
  height: 30vh;
  background-color: #1E1E1E; 
  /* // 282c34 */
  color: #F5F5F5;
  margin-bottom: 20px;
  }

.code-terminal {
  display: flex;
  flex-direction: column;
}

.codeTop { 
  width: 100%;
  background-color: #F5F5F5;
  font-size: 22px;
  border: 1px solid gray;
  color: #282c34;
 }

.ordToolbar {
  border: 1px solid #018A61;
  align-items: center;
}

.executeButton {
  margin-top: 20px;
  margin-bottom: 20px;
}